* {
    margin: 0;
    border: 0;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#form-lista {
    display: flex;
    flex-direction: row;
}
#form-lista input{
    margin-right: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 100, 100);
}
footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}