* {
    margin: 0;
    border: 0;
}

.list__item {
    display: flex;
    align-items: center;
    border-radius: .35rem;
    background-color: white;
    color: rgb(43, 43, 43);
    padding: 1rem;
    margin-bottom: .5rem;
    input {
        margin-right: 2rem;
        height: 1.5rem;
        width: 1.5rem;
    }
    button {
        width: 21px;
        height: 24px;
        text-align: end;
        background-image: url('../images/trash-can-regular.svg');
    }
}

.task__item {
    text-decoration: line-through;
    opacity: 80%;
}

.fadeout {
    opacity: 0;
    transition: .25s;
}

